.app {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  
  height: 800px;
  width: 100%;
}
.themeWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.appLight{
  composes:app;
  background-image: url(../../image/ice-castle-gbd2547da6_1920.jpg);
}
.appDark {
  composes:app;
  background-image: url(../../image/telephone-g681a412bc_1920.jpg);
}