.app {
  margin: 0 auto;
  padding: 0 10px;
  min-height: 800px;
  /* min-width: 100%; */
  overflow-x: hidden;
}
.themeWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

}
.appLight{
  composes:app;
  background-image: url(../../image/ice-castle-gbd2547da6_1920.jpg);
}
.appDark {
  composes:app;
  background-image: url(../../image/telephone-g681a412bc_1920.jpg);
}