.container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  /* background-color: rgba(31, 120, 197, 0.037); */
}
.flag{
  width: 30px;
  transition-property: width,
  transform;
  transition-duration: 400ms;
  transition-delay: 300ms;
  transition-timing-function: ease-in-out;
}
.flagActive{
transition-duration: 400ms;
transition-delay: 300ms;
transform: rotate(360deg) scale(1.2) ;
transition-timing-function: ease-in-out;

}